@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #cfcfcf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #333;
    color: #ffa200;
  }
  
  .topnav a.active {
    background-color: #ffa200;
    color: whitesmoke;
  }

  #backgroundVideo {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 100vw;
    overflow: hidden;
  }

  #beervideo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: -1;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #blur {
    font-size: 40px;
    color: transparent;
    text-shadow: 0 0 8px #000;
  }
  .text {
    font-size: 35px;

    font-family:"copperplate";
  }

  .p1 {
    font-size: 15px;
  }