body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #cfcfcf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #333;
    color: #ffa200;
  }
  
  .topnav a.active {
    background-color: #ffa200;
    color: whitesmoke;
  }

<<<<<<< HEAD
  .container {
    border: 1px red solid;
    position: relative;    
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
=======
  #backgroundVideo {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 100vw;
    overflow: hidden;
  }

  #beervideo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: -1;
  }
>>>>>>> b8e331f972a882430d2551c76dcb0746a4f4e35d
